CREATE TABLE __diesel_schema_migrations (

       version VARCHAR(50) PRIMARY KEY NOT NULL,

       run_on TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE sessions (
    id TEXT PRIMARY KEY NOT NULL,
    user_id TEXT NOT NULL,
    refresh_token_hash TEXT NOT NULL,
    user_agent TEXT,
    ip_address TEXT,
    created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    expires_at DATETIME NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE
);
CREATE TABLE roles (
    id VARCHAR NOT NULL PRIMARY KEY,
    name VARCHAR NOT NULL UNIQUE
, parent_id VARCHAR(36) REFERENCES roles(id));
CREATE TABLE permissions (
    id VARCHAR NOT NULL PRIMARY KEY,
    name VARCHAR NOT NULL UNIQUE
);
CREATE TABLE role_permissions (
    role_id VARCHAR NOT NULL,
    permission_id VARCHAR NOT NULL,
    PRIMARY KEY (role_id, permission_id),
    FOREIGN KEY (role_id) REFERENCES roles (id) ON DELETE CASCADE,
    FOREIGN KEY (permission_id) REFERENCES permissions (id) ON DELETE CASCADE
);
CREATE TABLE user_roles (
    user_id VARCHAR NOT NULL,
    role_id VARCHAR NOT NULL,
    PRIMARY KEY (user_id, role_id),
    FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE,
    FOREIGN KEY (role_id) REFERENCES roles (id) ON DELETE CASCADE
);
CREATE TABLE IF NOT EXISTS "users" (
    id VARCHAR NOT NULL PRIMARY KEY,
    email VARCHAR NOT NULL,
    password_hash VARCHAR NOT NULL,
    google_id VARCHAR,
    github_id VARCHAR,
    is_verified BOOLEAN NOT NULL,
    verification_token VARCHAR,
    created_at TIMESTAMP NOT NULL,
    updated_at TIMESTAMP NOT NULL,
    verification_sent_at TIMESTAMP,
    password_reset_token VARCHAR,
    password_reset_sent_at TIMESTAMP,
    failed_login_attempts INTEGER NOT NULL DEFAULT 0,
    lockout_until TIMESTAMP
);
CREATE TABLE staff (
    id VARCHAR NOT NULL PRIMARY KEY,
    employee_id VARCHAR NOT NULL UNIQUE,
    name VARCHAR NOT NULL,
    nic VARCHAR NOT NULL UNIQUE,
    dob DATE NOT NULL,
    gender VARCHAR NOT NULL,
    address VARCHAR NOT NULL,
    phone VARCHAR NOT NULL,
    email VARCHAR NOT NULL UNIQUE,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
, employment_status TEXT NOT NULL DEFAULT 'Permanent', staff_type TEXT NOT NULL DEFAULT 'Teaching', photo_url TEXT);
CREATE INDEX idx_staff_employee_id ON staff (employee_id);
CREATE INDEX idx_staff_name ON staff (name);
CREATE TABLE staff_qualifications (
    id VARCHAR NOT NULL PRIMARY KEY,
    staff_id VARCHAR NOT NULL,
    degree VARCHAR NOT NULL,
    institution VARCHAR NOT NULL,
    year_of_completion INTEGER NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (staff_id) REFERENCES staff (id) ON DELETE CASCADE
);
CREATE TABLE staff_employment_history (
    id VARCHAR NOT NULL PRIMARY KEY,
    staff_id VARCHAR NOT NULL,
    previous_school VARCHAR NOT NULL,
    position VARCHAR NOT NULL,
    start_date DATE NOT NULL,
    end_date DATE,
    reason_for_leaving VARCHAR,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (staff_id) REFERENCES staff (id) ON DELETE CASCADE
);
CREATE TABLE staff_departments (
    id VARCHAR NOT NULL PRIMARY KEY,
    name VARCHAR NOT NULL UNIQUE,
    description VARCHAR,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE staff_roles (
    staff_id VARCHAR NOT NULL,
    role_id VARCHAR NOT NULL,
    PRIMARY KEY (staff_id, role_id),
    FOREIGN KEY (staff_id) REFERENCES staff (id) ON DELETE CASCADE,
    FOREIGN KEY (role_id) REFERENCES roles (id) ON DELETE CASCADE
);
CREATE TABLE staff_subjects (
    staff_id VARCHAR NOT NULL,
    subject_id VARCHAR NOT NULL,
    PRIMARY KEY (staff_id, subject_id),
    FOREIGN KEY (staff_id) REFERENCES staff (id) ON DELETE CASCADE,
    FOREIGN KEY (subject_id) REFERENCES subjects (id) ON DELETE CASCADE
);
CREATE TABLE teacher_class_assignments (
    id VARCHAR NOT NULL PRIMARY KEY,
    teacher_id VARCHAR NOT NULL,
    class_id VARCHAR NOT NULL,
    academic_year_id VARCHAR NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (teacher_id) REFERENCES staff (id) ON DELETE CASCADE,
    FOREIGN KEY (class_id) REFERENCES classes (id) ON DELETE CASCADE,
    FOREIGN KEY (academic_year_id) REFERENCES academic_years (id) ON DELETE CASCADE
);
CREATE TABLE teacher_subject_assignments (
    id VARCHAR NOT NULL PRIMARY KEY,
    teacher_id VARCHAR NOT NULL,
    subject_id VARCHAR NOT NULL,
    academic_year_id VARCHAR NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (teacher_id) REFERENCES staff (id) ON DELETE CASCADE,
    FOREIGN KEY (subject_id) REFERENCES subjects (id) ON DELETE CASCADE,
    FOREIGN KEY (academic_year_id) REFERENCES academic_years (id) ON DELETE CASCADE
);
CREATE TABLE staff_attendance (
    id VARCHAR NOT NULL PRIMARY KEY,
    staff_id VARCHAR NOT NULL,
    date DATE NOT NULL,
    status VARCHAR NOT NULL,
    time_in TIME,
    time_out TIME,
    remarks VARCHAR,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (staff_id) REFERENCES staff (id) ON DELETE CASCADE
);
CREATE TABLE staff_leaves (
    id VARCHAR NOT NULL PRIMARY KEY,
    staff_id VARCHAR NOT NULL,
    leave_type VARCHAR NOT NULL,
    from_date DATE NOT NULL,
    to_date DATE NOT NULL,
    reason VARCHAR NOT NULL,
    status VARCHAR NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (staff_id) REFERENCES staff (id) ON DELETE CASCADE
);
CREATE TABLE students (
    id VARCHAR(36) NOT NULL PRIMARY KEY,
    admission_number VARCHAR(255) NOT NULL UNIQUE,
    name_english VARCHAR(255) NOT NULL,
    name_sinhala VARCHAR(255),
    name_tamil VARCHAR(255),
    nic_or_birth_certificate VARCHAR(255) NOT NULL UNIQUE,
    dob DATE NOT NULL,
    gender VARCHAR(50) NOT NULL,
    address VARCHAR(255) NOT NULL,
    phone VARCHAR(50) NOT NULL,
    email VARCHAR(255) UNIQUE,
    religion VARCHAR(50),
    ethnicity VARCHAR(50),
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL
, status TEXT NOT NULL DEFAULT 'Active', photo_url TEXT);
CREATE INDEX idx_students_admission_number ON students(admission_number);
CREATE INDEX idx_students_name_english ON students(name_english);
CREATE INDEX idx_students_name_sinhala ON students(name_sinhala);
CREATE INDEX idx_students_name_tamil ON students(name_tamil);
CREATE TABLE student_guardians (
    id VARCHAR(36) NOT NULL PRIMARY KEY,
    student_id VARCHAR(36) NOT NULL,
    name VARCHAR(255) NOT NULL,
    relationship VARCHAR(50) NOT NULL,
    phone VARCHAR(50) NOT NULL,
    email VARCHAR(255) UNIQUE,
    address VARCHAR(255) NOT NULL,
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL,
    FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE
);
CREATE TABLE student_medical_info (
    id VARCHAR(36) NOT NULL PRIMARY KEY,
    student_id VARCHAR(36) NOT NULL UNIQUE,
    blood_group VARCHAR(10),
    allergies TEXT,
    medical_conditions TEXT,
    emergency_contact_name VARCHAR(255),
    emergency_contact_phone VARCHAR(50),
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL,
    FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE
);
CREATE TABLE student_emergency_contacts (
    id VARCHAR(36) NOT NULL PRIMARY KEY,
    student_id VARCHAR(36) NOT NULL,
    name VARCHAR(255) NOT NULL,
    relationship VARCHAR(50) NOT NULL,
    phone VARCHAR(50) NOT NULL,
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL,
    FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE
);
CREATE TABLE student_previous_schools (
    id VARCHAR(36) NOT NULL PRIMARY KEY,
    student_id VARCHAR(36) NOT NULL,
    school_name VARCHAR(255) NOT NULL,
    grade_left VARCHAR(50),
    date_left DATE,
    reason_for_leaving TEXT,
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL,
    FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE
);
CREATE TABLE student_class_assignments (
    id VARCHAR NOT NULL PRIMARY KEY,
    student_id VARCHAR NOT NULL,
    academic_year_id VARCHAR NOT NULL,
    grade_id VARCHAR NOT NULL,
    class_id VARCHAR NOT NULL,
    from_date DATE NOT NULL,
    to_date DATE,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE student_attendance (
    id VARCHAR NOT NULL PRIMARY KEY,
    student_id VARCHAR NOT NULL,
    class_id VARCHAR NOT NULL,
    date DATE NOT NULL,
    status VARCHAR NOT NULL,
    marked_by VARCHAR NOT NULL,
    remarks VARCHAR,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE academic_years (
    id VARCHAR(36) PRIMARY KEY NOT NULL,
    year_start INTEGER NOT NULL,
    year_end INTEGER NOT NULL,
    name VARCHAR(255) NOT NULL,
    current BOOLEAN NOT NULL DEFAULT FALSE,
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL
);
CREATE TABLE grade_levels (
    id VARCHAR(36) PRIMARY KEY NOT NULL,
    grade_number INTEGER NOT NULL UNIQUE,
    grade_name VARCHAR(255) NOT NULL UNIQUE,
    education_level VARCHAR(50) NOT NULL,
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL
);
CREATE TABLE streams (
    id VARCHAR(36) PRIMARY KEY NOT NULL,
    name VARCHAR(255) NOT NULL UNIQUE,
    description TEXT,
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL
);
CREATE TABLE grade_streams (
    grade_id VARCHAR(36) NOT NULL,
    stream_id VARCHAR(36) NOT NULL,
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL,
    PRIMARY KEY (grade_id, stream_id),
    FOREIGN KEY (grade_id) REFERENCES grade_levels(id) ON DELETE CASCADE,
    FOREIGN KEY (stream_id) REFERENCES streams(id) ON DELETE CASCADE
);
CREATE TABLE classes (
    id VARCHAR(36) PRIMARY KEY NOT NULL,
    grade_id VARCHAR(36) NOT NULL,
    section_name VARCHAR(255) NOT NULL,
    academic_year_id VARCHAR(36) NOT NULL,
    class_teacher_id VARCHAR(36),
    medium VARCHAR(50) NOT NULL,
    room_number VARCHAR(50),
    max_capacity INTEGER NOT NULL,
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL,
    FOREIGN KEY (grade_id) REFERENCES grade_levels(id) ON DELETE CASCADE,
    FOREIGN KEY (academic_year_id) REFERENCES academic_years(id) ON DELETE CASCADE,
    FOREIGN KEY (class_teacher_id) REFERENCES staff(id) ON DELETE SET NULL
);
CREATE TABLE subjects (
    id VARCHAR(36) PRIMARY KEY NOT NULL,
    subject_code VARCHAR(255) NOT NULL UNIQUE,
    subject_name_en VARCHAR(255) NOT NULL,
    subject_name_si VARCHAR(255),
    subject_name_ta VARCHAR(255),
    is_core BOOLEAN NOT NULL DEFAULT TRUE,
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL
);
CREATE TABLE grade_subjects (
    grade_id VARCHAR(36) NOT NULL,
    subject_id VARCHAR(36) NOT NULL,
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL,
    PRIMARY KEY (grade_id, subject_id),
    FOREIGN KEY (grade_id) REFERENCES grade_levels(id) ON DELETE CASCADE,
    FOREIGN KEY (subject_id) REFERENCES subjects(id) ON DELETE CASCADE
);
CREATE TABLE stream_subjects (
    stream_id VARCHAR(36) NOT NULL,
    subject_id VARCHAR(36) NOT NULL,
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL,
    PRIMARY KEY (stream_id, subject_id),
    FOREIGN KEY (stream_id) REFERENCES streams(id) ON DELETE CASCADE,
    FOREIGN KEY (subject_id) REFERENCES subjects(id) ON DELETE CASCADE
);
CREATE TABLE class_subject_teachers (
    class_id VARCHAR(36) NOT NULL,
    subject_id VARCHAR(36) NOT NULL,
    teacher_id VARCHAR(36) NOT NULL,
    academic_year_id VARCHAR(36) NOT NULL,
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL,
    PRIMARY KEY (class_id, subject_id, teacher_id, academic_year_id),
    FOREIGN KEY (class_id) REFERENCES classes(id) ON DELETE CASCADE,
    FOREIGN KEY (subject_id) REFERENCES subjects(id) ON DELETE CASCADE,
    FOREIGN KEY (teacher_id) REFERENCES staff(id) ON DELETE CASCADE,
    FOREIGN KEY (academic_year_id) REFERENCES academic_years(id) ON DELETE CASCADE
);
CREATE TABLE timetable (
    id VARCHAR(36) PRIMARY KEY NOT NULL,
    class_id VARCHAR(36) NOT NULL,
    day_of_week VARCHAR(20) NOT NULL,
    period_number INTEGER NOT NULL,
    subject_id VARCHAR(36) NOT NULL,
    teacher_id VARCHAR(36) NOT NULL,
    start_time TIME NOT NULL,
    end_time TIME NOT NULL,
    room VARCHAR(50) NOT NULL,
    academic_year_id VARCHAR(36) NOT NULL,
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL,
    FOREIGN KEY (class_id) REFERENCES classes(id) ON DELETE CASCADE,
    FOREIGN KEY (subject_id) REFERENCES subjects(id) ON DELETE CASCADE,
    FOREIGN KEY (teacher_id) REFERENCES staff(id) ON DELETE CASCADE,
    FOREIGN KEY (academic_year_id) REFERENCES academic_years(id) ON DELETE CASCADE
);
CREATE TABLE exam_types (
    id VARCHAR(36) PRIMARY KEY NOT NULL,
    name VARCHAR(100) NOT NULL,
    description TEXT,
    weightage INTEGER NOT NULL,
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL
);
CREATE TABLE exams (
    id VARCHAR(36) PRIMARY KEY NOT NULL,
    exam_type_id VARCHAR(36) NOT NULL,
    name VARCHAR(255) NOT NULL,
    academic_year_id VARCHAR(36) NOT NULL,
    term_id VARCHAR(36) NOT NULL,
    start_date DATETIME NOT NULL,
    end_date DATETIME NOT NULL,
    created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (exam_type_id) REFERENCES exam_types(id),
    FOREIGN KEY (academic_year_id) REFERENCES academic_years(id),
    FOREIGN KEY (term_id) REFERENCES terms(id)
);
CREATE TABLE exam_subjects (
    exam_id VARCHAR(36) NOT NULL,
    subject_id VARCHAR(36) NOT NULL,
    date DATE NOT NULL,
    time TIME NOT NULL,
    duration INTEGER NOT NULL,
    max_marks INTEGER NOT NULL,
    pass_marks INTEGER NOT NULL,
    created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (exam_id, subject_id),
    FOREIGN KEY (exam_id) REFERENCES exams(id),
    FOREIGN KEY (subject_id) REFERENCES subjects(id)
);
CREATE TABLE student_marks (
    id VARCHAR(36) PRIMARY KEY NOT NULL,
    student_id VARCHAR(36) NOT NULL,
    exam_id VARCHAR(36) NOT NULL,
    subject_id VARCHAR(36) NOT NULL,
    marks_obtained INTEGER NOT NULL,
    is_absent BOOLEAN NOT NULL DEFAULT FALSE,
    remarks TEXT,
    entered_by VARCHAR(36) NOT NULL,
    entered_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_by VARCHAR(36),
    updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (student_id) REFERENCES students(id),
    FOREIGN KEY (exam_id, subject_id) REFERENCES exam_subjects(exam_id, subject_id),
    FOREIGN KEY (entered_by) REFERENCES users(id),
    FOREIGN KEY (updated_by) REFERENCES users(id)
);
CREATE TABLE grading_schemes (
    id VARCHAR(36) NOT NULL PRIMARY KEY,
    name VARCHAR(255) NOT NULL UNIQUE,
    grade_level VARCHAR(255) NOT NULL,
    description TEXT
);
CREATE TABLE grading_criteria (
    id VARCHAR(36) NOT NULL PRIMARY KEY,
    scheme_id VARCHAR(36) NOT NULL,
    min_marks INTEGER NOT NULL,
    max_marks INTEGER NOT NULL,
    grade VARCHAR(10) NOT NULL,
    grade_point REAL,
    description TEXT,
    FOREIGN KEY (scheme_id) REFERENCES grading_schemes (id) ON DELETE CASCADE
);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE zscore_calculations (
    exam_id VARCHAR(36) NOT NULL,
    subject_id VARCHAR(36) NOT NULL,
    mean DOUBLE PRECISION NOT NULL,
    std_deviation DOUBLE PRECISION NOT NULL,
    calculated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (exam_id, subject_id),
    FOREIGN KEY (exam_id, subject_id) REFERENCES exam_subjects(exam_id, subject_id) ON DELETE CASCADE
);
CREATE TABLE student_zscores (
    student_id VARCHAR(36) NOT NULL,
    exam_id VARCHAR(36) NOT NULL,
    subject_id VARCHAR(36) NOT NULL,
    zscore DOUBLE PRECISION NOT NULL,
    PRIMARY KEY (student_id, exam_id, subject_id),
    FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE,
    FOREIGN KEY (exam_id, subject_id) REFERENCES exam_subjects(exam_id, subject_id) ON DELETE CASCADE
);
CREATE TABLE scholarship_exams (
    id VARCHAR(36) PRIMARY KEY NOT NULL,
    student_id VARCHAR(36) NOT NULL,
    exam_year INTEGER NOT NULL,
    index_number VARCHAR(50),
    marks INTEGER,
    district_rank INTEGER,
    island_rank INTEGER,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE
);
CREATE TABLE ol_exams (
    id VARCHAR(36) PRIMARY KEY NOT NULL,
    student_id VARCHAR(36) NOT NULL,
    exam_year INTEGER NOT NULL,
    index_number VARCHAR(50),
    medium VARCHAR(20),
    results_summary TEXT,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE
);
CREATE TABLE al_exams (
    id VARCHAR(36) PRIMARY KEY NOT NULL,
    student_id VARCHAR(36) NOT NULL,
    exam_year INTEGER NOT NULL,
    index_number VARCHAR(50),
    stream_id VARCHAR(36),
    z_score DOUBLE PRECISION,
    district_rank INTEGER,
    island_rank INTEGER,
    general_test_marks INTEGER,
    results_summary TEXT,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE,
    FOREIGN KEY (stream_id) REFERENCES streams(id) ON DELETE SET NULL
);
CREATE TABLE report_cards (
    id VARCHAR(36) PRIMARY KEY NOT NULL,
    student_id VARCHAR(36) NOT NULL,
    academic_year_id VARCHAR(36) NOT NULL,
    term_id VARCHAR(36) NOT NULL,
    class_id VARCHAR(36) NOT NULL,
    generated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    generated_by VARCHAR(36) NOT NULL,
    final_grade VARCHAR(10),
    rank INTEGER,
    remarks TEXT,
    FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE,
    FOREIGN KEY (academic_year_id) REFERENCES academic_years(id) ON DELETE CASCADE,
    FOREIGN KEY (term_id) REFERENCES terms(id) ON DELETE CASCADE,
    FOREIGN KEY (class_id) REFERENCES classes(id) ON DELETE CASCADE
);
CREATE TABLE report_card_marks (
    id VARCHAR(36) PRIMARY KEY NOT NULL,
    report_card_id VARCHAR(36) NOT NULL,
    subject_id VARCHAR(36) NOT NULL,
    marks_obtained INTEGER,
    grade VARCHAR(5),
    remarks TEXT,
    FOREIGN KEY (report_card_id) REFERENCES report_cards(id) ON DELETE CASCADE,
    FOREIGN KEY (subject_id) REFERENCES subjects(id) ON DELETE CASCADE
);
CREATE TABLE IF NOT EXISTS "terms" (
    id TEXT NOT NULL PRIMARY KEY,
    academic_year_id TEXT NOT NULL,
    term_number INTEGER NOT NULL,
    name VARCHAR NOT NULL,
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (academic_year_id) REFERENCES academic_years(id) ON DELETE CASCADE
);
CREATE TABLE fee_categories (
    id TEXT PRIMARY KEY NOT NULL,
    name TEXT NOT NULL,
    description TEXT,
    is_mandatory BOOLEAN NOT NULL DEFAULT 1,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE fee_structures (
    id TEXT PRIMARY KEY NOT NULL,
    grade_id TEXT NOT NULL REFERENCES grade_levels(id),
    academic_year_id TEXT NOT NULL REFERENCES academic_years(id),
    category_id TEXT NOT NULL REFERENCES fee_categories(id),
    amount REAL NOT NULL,
    due_date DATE NOT NULL,
    frequency TEXT NOT NULL, -- Monthly, Quarterly, Annually, One-Time
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE student_fees (
    id TEXT PRIMARY KEY NOT NULL,
    student_id TEXT NOT NULL REFERENCES students(id),
    fee_structure_id TEXT NOT NULL REFERENCES fee_structures(id),
    amount REAL NOT NULL,
    is_exempted BOOLEAN NOT NULL DEFAULT 0,
    exemption_reason TEXT,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE fee_payments (
    id TEXT PRIMARY KEY NOT NULL,
    student_fee_id TEXT NOT NULL REFERENCES student_fees(id),
    amount_paid REAL NOT NULL,
    payment_date TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    payment_method TEXT NOT NULL, -- Cash, Bank Transfer, Cheque, Online
    receipt_number TEXT NOT NULL UNIQUE,
    collected_by TEXT NOT NULL REFERENCES staff(id),
    remarks TEXT,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE library_categories (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    category_name TEXT NOT NULL UNIQUE,
    description TEXT,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE library_books (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    isbn TEXT UNIQUE,
    title TEXT NOT NULL,
    author TEXT NOT NULL,
    publisher TEXT,
    category_id INTEGER NOT NULL,
    quantity INTEGER NOT NULL DEFAULT 1,
    available_quantity INTEGER NOT NULL DEFAULT 1,
    rack_number TEXT,
    added_date DATE NOT NULL DEFAULT (DATE('now')),
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (category_id) REFERENCES library_categories(id) ON DELETE RESTRICT
);
CREATE TABLE library_settings (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    max_books_per_student INTEGER NOT NULL DEFAULT 2,
    max_books_per_staff INTEGER NOT NULL DEFAULT 5,
    issue_duration_days_student INTEGER NOT NULL DEFAULT 14,
    issue_duration_days_staff INTEGER NOT NULL DEFAULT 30,
    fine_per_day REAL NOT NULL DEFAULT 5.0,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE IF NOT EXISTS "library_issues" (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    book_id INTEGER NOT NULL,
    student_id TEXT,
    staff_id TEXT,
    issue_date DATE NOT NULL DEFAULT (DATE('now')),
    due_date DATE NOT NULL,
    return_date DATE,
    issued_by TEXT NOT NULL,
    fine_amount REAL DEFAULT 0.0,
    fine_paid BOOLEAN NOT NULL DEFAULT 0,
    status TEXT NOT NULL DEFAULT 'issued',
    remarks TEXT,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (book_id) REFERENCES library_books(id) ON DELETE RESTRICT,
    FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE,
    FOREIGN KEY (staff_id) REFERENCES staff(id) ON DELETE CASCADE,
    FOREIGN KEY (issued_by) REFERENCES staff(id) ON DELETE RESTRICT,
    CHECK ((student_id IS NOT NULL AND staff_id IS NULL) OR (student_id IS NULL AND staff_id IS NOT NULL))
);
CREATE TABLE sports (

    id TEXT PRIMARY KEY NOT NULL,

    sport_name TEXT NOT NULL,

    description TEXT,

    category TEXT NOT NULL, -- e.g., Indoor, Outdoor, Team, Individual

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE sport_teams (

    id TEXT PRIMARY KEY NOT NULL,

    sport_id TEXT NOT NULL REFERENCES sports(id),

    team_name TEXT NOT NULL,

    grade_level TEXT NOT NULL,

    coach_id TEXT NOT NULL REFERENCES staff(id),

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE sport_team_members (

    team_id TEXT NOT NULL REFERENCES sport_teams(id),

    student_id TEXT NOT NULL REFERENCES students(id),

    position TEXT,

    joined_date DATE NOT NULL,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    PRIMARY KEY (team_id, student_id)

);
CREATE TABLE sport_events (

    id TEXT PRIMARY KEY NOT NULL,

    sport_id TEXT NOT NULL REFERENCES sports(id),

    event_name TEXT NOT NULL,

    event_date TIMESTAMP NOT NULL,

    venue TEXT NOT NULL,

    organizer TEXT NOT NULL,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE sport_event_participants (

    event_id TEXT NOT NULL REFERENCES sport_events(id),

    student_id TEXT NOT NULL REFERENCES students(id),

    team_id TEXT REFERENCES sport_teams(id),

    position TEXT,

    points INTEGER,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    PRIMARY KEY (event_id, student_id)

);
CREATE TABLE clubs (

    id TEXT PRIMARY KEY NOT NULL,

    club_name TEXT NOT NULL,

    description TEXT,

    teacher_in_charge_id TEXT NOT NULL REFERENCES staff(id),

    meeting_schedule TEXT,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE club_members (

    club_id TEXT NOT NULL REFERENCES clubs(id),

    student_id TEXT NOT NULL REFERENCES students(id),

    role TEXT NOT NULL, -- e.g., President, Secretary, Member

    joined_date DATE NOT NULL,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    PRIMARY KEY (club_id, student_id)

);
CREATE TABLE club_activities (

    id TEXT PRIMARY KEY NOT NULL,

    club_id TEXT NOT NULL REFERENCES clubs(id),

    activity_name TEXT NOT NULL,

    activity_date TIMESTAMP NOT NULL,

    description TEXT,

    participants_count INTEGER NOT NULL DEFAULT 0,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE competitions (

    id TEXT PRIMARY KEY NOT NULL,

    competition_name TEXT NOT NULL,

    competition_type TEXT NOT NULL,

    date TIMESTAMP NOT NULL,

    organizer TEXT NOT NULL,

    level TEXT NOT NULL, -- School, District, Provincial, National, International

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE competition_participants (

    competition_id TEXT NOT NULL REFERENCES competitions(id),

    student_id TEXT NOT NULL REFERENCES students(id),

    position TEXT, -- e.g., 1st, 2nd, 3rd

    award TEXT, -- e.g., Gold Medal, Certificate

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    PRIMARY KEY (competition_id, student_id)

);
CREATE TABLE student_achievements (

    id TEXT PRIMARY KEY NOT NULL,

    student_id TEXT NOT NULL REFERENCES students(id),

    achievement_type TEXT NOT NULL, -- Sports, Academic, Extra-curricular

    description TEXT NOT NULL,

    date DATE NOT NULL,

    certificate_url TEXT,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE cultural_events (

    id TEXT PRIMARY KEY NOT NULL,

    event_name TEXT NOT NULL,

    event_date TIMESTAMP NOT NULL,

    venue TEXT NOT NULL,

    description TEXT,

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE cultural_event_participants (

    event_id TEXT NOT NULL REFERENCES cultural_events(id),

    student_id TEXT NOT NULL REFERENCES students(id),

    performance_type TEXT NOT NULL, -- e.g., Dance, Music, Drama

    role TEXT, -- e.g., Main Character, Backstage

    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,

    PRIMARY KEY (event_id, student_id)

);
CREATE TABLE asset_categories (
    id TEXT PRIMARY KEY NOT NULL,
    name TEXT NOT NULL,
    description TEXT,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE inventory_items (
    id TEXT PRIMARY KEY NOT NULL,
    category_id TEXT NOT NULL,
    item_name TEXT NOT NULL,
    description TEXT,
    unit TEXT NOT NULL, -- e.g., "pcs", "kg", "m"
    quantity INTEGER NOT NULL DEFAULT 0,
    reorder_level INTEGER NOT NULL DEFAULT 0,
    unit_price REAl NOT NULL DEFAULT 0.0,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (category_id) REFERENCES asset_categories(id)
);
CREATE TABLE uniform_items (
    id TEXT PRIMARY KEY NOT NULL,
    item_name TEXT NOT NULL,
    size TEXT NOT NULL,
    gender TEXT NOT NULL,
    grade_level TEXT,
    price REAL NOT NULL DEFAULT 0.0,
    quantity INTEGER NOT NULL DEFAULT 0,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE uniform_issues (
    id TEXT PRIMARY KEY NOT NULL,
    student_id TEXT NOT NULL,
    uniform_item_id TEXT NOT NULL,
    quantity INTEGER NOT NULL DEFAULT 1,
    issue_date TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    issued_by TEXT NOT NULL,
    amount_collected REAL NOT NULL DEFAULT 0.0,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (student_id) REFERENCES students(id),
    FOREIGN KEY (uniform_item_id) REFERENCES uniform_items(id),
    FOREIGN KEY (issued_by) REFERENCES staff(id)
);
CREATE TABLE asset_allocations (
    id TEXT PRIMARY KEY NOT NULL,
    item_id TEXT NOT NULL,
    allocated_to_type TEXT NOT NULL, -- "Student", "Teacher", "Department", "Class"
    allocated_to_id TEXT NOT NULL,
    quantity INTEGER NOT NULL DEFAULT 1,
    allocation_date TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    return_date TIMESTAMP,
    allocated_by TEXT NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (item_id) REFERENCES inventory_items(id),
    FOREIGN KEY (allocated_by) REFERENCES staff(id)
);
CREATE TABLE maintenance_requests (
    id TEXT PRIMARY KEY NOT NULL,
    item_id TEXT NOT NULL,
    issue_description TEXT NOT NULL,
    reported_by TEXT NOT NULL,
    reported_date TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    status TEXT NOT NULL, -- "Pending", "In Progress", "Completed", "Cancelled"
    assigned_to TEXT,
    resolved_date TIMESTAMP,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (item_id) REFERENCES inventory_items(id),
    FOREIGN KEY (reported_by) REFERENCES staff(id),
    FOREIGN KEY (assigned_to) REFERENCES staff(id)
);
CREATE TABLE budget_categories (
    id TEXT PRIMARY KEY NOT NULL,
    name TEXT NOT NULL,
    description TEXT,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE budgets (
    id TEXT PRIMARY KEY NOT NULL,
    academic_year_id TEXT NOT NULL,
    category_id TEXT NOT NULL,
    allocated_amount REAL NOT NULL DEFAULT 0.0,
    spent_amount REAL NOT NULL DEFAULT 0.0,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (academic_year_id) REFERENCES academic_years(id),
    FOREIGN KEY (category_id) REFERENCES budget_categories(id)
);
CREATE TABLE income_sources (
    id TEXT PRIMARY KEY NOT NULL,
    name TEXT NOT NULL,
    description TEXT,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE income_transactions (
    id TEXT PRIMARY KEY NOT NULL,
    source_id TEXT NOT NULL,
    amount REAL NOT NULL DEFAULT 0.0,
    date TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    description TEXT,
    received_by TEXT NOT NULL,
    receipt_number TEXT NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (source_id) REFERENCES income_sources(id),
    FOREIGN KEY (received_by) REFERENCES staff(id)
);
CREATE TABLE expense_categories (
    id TEXT PRIMARY KEY NOT NULL,
    name TEXT NOT NULL,
    description TEXT,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE expense_transactions (
    id TEXT PRIMARY KEY NOT NULL,
    category_id TEXT NOT NULL,
    amount REAL NOT NULL DEFAULT 0.0,
    date TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    description TEXT,
    vendor TEXT,
    payment_method TEXT NOT NULL, -- "Cash", "Bank Transfer", "Cheque", "Online"
    approved_by TEXT,
    receipt_url TEXT,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (category_id) REFERENCES expense_categories(id),
    FOREIGN KEY (approved_by) REFERENCES staff(id)
);
CREATE TABLE petty_cash_transactions (
    id TEXT PRIMARY KEY NOT NULL,
    amount REAL NOT NULL DEFAULT 0.0,
    transaction_type TEXT NOT NULL, -- "Received", "Spent"
    date TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    description TEXT,
    handled_by TEXT NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (handled_by) REFERENCES staff(id)
);
CREATE TABLE salary_components (
    id TEXT PRIMARY KEY NOT NULL,
    name TEXT NOT NULL, -- "Basic", "Transport Allowance", "EPF Deduction", etc.
    component_type TEXT NOT NULL, -- "Allowance", "Deduction"
    description TEXT,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE staff_salaries (
    staff_id TEXT NOT NULL,
    component_id TEXT NOT NULL,
    amount REAL NOT NULL DEFAULT 0.0,
    effective_from DATE NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (staff_id, component_id),
    FOREIGN KEY (staff_id) REFERENCES staff(id),
    FOREIGN KEY (component_id) REFERENCES salary_components(id)
);
CREATE TABLE salary_payments (
    id TEXT PRIMARY KEY NOT NULL,
    staff_id TEXT NOT NULL,
    payment_month INTEGER NOT NULL,
    payment_year INTEGER NOT NULL,
    gross_salary REAL NOT NULL DEFAULT 0.0,
    total_deductions REAL NOT NULL DEFAULT 0.0,
    net_salary REAL NOT NULL DEFAULT 0.0,
    payment_date TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    payment_method TEXT NOT NULL,
    remarks TEXT,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (staff_id) REFERENCES staff(id)
);
